.card-summary {
  display: flex;
  min-height: 13rem;
  border-radius: 16px;
  background-color: var(--colorTextLightSolid);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);

  .item__left {
    width: 30%;
    display: flex;
    align-self: center;
    padding: 1rem 1rem 1rem 2rem;
    .card-img {
      overflow: hidden;
      width: 100%;
      object-fit: contain;
    }
  }
  .item__right {
    width: 70%;
    padding: 2rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-weight: 700;
      font-size: 2.2rem;
      color: var(--colorPrimary);
    }
    .content {
      .card-number {
        color: var(--colorText);
        font-weight: 900;
        font-size: 4.5rem;
        margin-right: 0.5rem;
      }
      .card-unit {
        color: var(--colorPrimary);

        font-weight: 900;
        font-size: 1.8rem;
      }
    }
  }
}

.card-summary + .card-summary {
  margin-left: 2rem;
}
