.main-tabs {
  .ant-tabs {
    .ant-tabs-tab-btn {
      font-size: $fs-3;
    }
    .ant-tabs-tab {
      padding: 1.6rem;
    }
  }
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
  display: none !important;
}
