.search-label-default {
  color: var(--colorPrimary);
  opacity: 0.8;
  font-weight: $font-weight-medium;
  font-size: $fs-2;
}

.search-bar {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #30303f;
  border-radius: 0.8rem;

  .ant-input-affix-wrapper,
  input {
    background: #33334c !important;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    width: inherit;
    outline: none;
    border-radius: 0.8rem;
    color: #fff;

    &::placeholder {
      color: #727288;
    }

    .ant-input-prefix {
      svg {
        color: $color-item;
        width: 2.4rem;
        height: 2.4rem;
        font-size: $fs-5;
      }
    }

    .ant-input-suffix {
      svg {
        color: #FF7506;
        width: 17.6px;
        height: 17.6px;
        font-size: $fs-5;
      }
    }
  }

  @media only screen and (max-width: 1381px) {

    .ant-input-affix-wrapper,
    input {
      width: auto;
    }
  }

  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus {
    box-shadow: 0rem 0rem 0.4rem var(--colorPrimary);
  }

  .icon-search {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    color: $color-item;

    svg {
      color: var(--colorPrimary);
      width: 2.4rem;
      height: 2.4rem;
      font-size: $fs-5;
    }
  }
}

@media screen and (max-width: 1500px) {
  input.form-search.ant-form-search {
    padding-right: 6.4rem;
    width: 30vw;
    @include text-wrap();
  }
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}